@page "/teacher"
@rendermode InteractiveServer




<PageTitle>Teacher</PageTitle>
<h3>Teacher</h3>

@if (teachers == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <ul>
        @foreach (var teacher in teachers)
        {
            <li>@teacher.FullName (@teacher.UserName)</li>
        }
    </ul>
}




@code {
    private IEnumerable<TeacherViewModel> teachers;
    <!--
    protected override async Task OnInitializedAsync()
    {
        teachers = await TeacherServices.GetTeachersAsync();
    }
    -->
}