@page "/teacher"
@rendermode InteractiveServer
@using RubyRangersLMS_Blazor.IServices
@using RubyRangersLMS_Blazor.Models
@using RubyRangersLMS_Blazor.Services
@inject IService<TeacherViewModel> TeacherServices
@inject NavigationManager NavigationManager



<PageTitle>Teacher</PageTitle>
<h3>Teacher</h3>

@if (teachers == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <ul>
        @foreach (var teacher in teachers)
        {
            <li>@teacher.FullName</li>
        }
    </ul>
}




@code {
    private List<TeacherViewModel> teachers = new List<TeacherViewModel>();
    protected override async Task OnInitializedAsync()
    {
        teachers = await TeacherServices.GetAllAsync();
    }
}