@using RubyRangerLMS_BlazorAccounts.Services;
@using RubyRangerLMS_BlazorAccounts.Models;



<div class="card">
    <h4>Teacher Count</h4>

    <h4> There are currently <span style="background-color: greenyellow">@TeacherCounter</span> number of teachers in RubyRangersLMS</h4>
    <br />
    <br />
</div>
